/**
 *  Some common styles used by this module
 */
 
a.co-button {
  display:block;
  clear:both;
  font-weight:bold;
  padding:1em 1em 1em 0;
  font-size:120%;
}



/**
 *  Session Links CSS
 */
#sessions-link-add {
  padding: .5em;
  display: none;
}

.sessions-link-delete-link {
  cursor: pointer;
}
/* make this work */
.add-links-link:hover,
.sessions-link-delete-link:hover {
  cursor: pointer;
cursor: hand;
}

#sessions-link-add-status { color: red; }



/**
 *  Views Schedule Styles
 *  Cod schedule cross table view
 */
table.view-schedule-view {
  width: 100%;
}
table.view-schedule-view td {
  text-align: center;
  padding: .7em .5em;
}

table.view-schedule-view td.attending {
  border: solid #a2a3a7 1px;
  background: url(../images/scheduler-fade-active.png) repeat-x bottom;
  background-color: #ffffff;
}

table.view-schedule-view td.notattending {
  border: solid #a2a3a7 1px;
  background: url(../images/scheduler-fade.png) repeat-x bottom;
  background-color: #ffffff;
}

table.view-schedule-view td.nothingscheduled {
  background-color: #cccccc;
  border: solid #cccccc 1px;
}

table.view-schedule-view td a {
  text-decoration:underline;
  font-weight:bold;
}
table.view-schedule-view th {
  text-align:center;
  border:none;
}
table.view-schedule-view tr.even-row td.timelabel{
  background-color: #949599;
  color: #fff;
  width: 80px;
}
table.view-schedule-view tr.odd-row td.timelabel {
  background-color: #797a7e;
  color: #fff;
  width: 80px;
}

table.view-schedule-view td.timelabel_spacer {
  width: 7px;
}

#schedule-1, #schedule-2, #schedule-3, #schedule-4, #schedule-5, #schedule-6 {
  background-color: #303030;
}

#schedule-1 tbody, #schedule-2 tbody, #schedule-3 tbody, #schedule-4 tbody, #schedule-5 tbody, #schedule-6 tbody {
 border-top: 0;
}



/* CSS for the Attendee Link */
.view-content-cod-schedule .attendee_status {
  padding-left: .5em;
  float: right;
  display:block;
}
.view-content-cod-schedule .attendee_status .attending-label {
  font-size:85%;
} 
 

 
/**
 *  Toggle Div CSS
 */
#toggle .toggle-link {
  cursor: pointer;
  font-size:80%;
}

/**
 *  Styles for webform (group/conference node)
 */
.red-header {
  background:#b54542;
  color:#fff;
  padding:5px 15px;
}
.red-header h2.title, .green-header h2.title {
  text-align:left;
  margin:0;
  padding:0;
}
.red-header h2.title a, .green-header h2.title a {
  color:#fff;
  font-size:1.8em;
  font-weight:normal;
}
.red-header a, .green-header a {
  color:#fff;
}
.red-header .info, .green-header .info {
  font-size:1.2em;
}
.green-header {
  background:#6b9e6b;
  color:#fff;
  padding:5px 15px;
}
 
 
/**
 *  Conference links
 */
.conference-links {
  background:url(../images/conference-links-fade.png) repeat-x;
} 
.conference-links ul {
  padding:0;
  margin:0;
  list-style:none;
  list-style-image:none;
  height:30px;
  font-size:110%;
}
.conference-links li {
  display:inline;
}
.conference-links li a {
  padding:6px 12px;
  color:#000;
  display:block;
  float:left;
  border-left:solid #fff 1px;
}
.conference-links li.first a {
  border:none;
} 

/**
 * Recent Activity Comment
*/ 
.recent-activity-comment {
  margin:0;
  padding:0;
  margin-bottom:2em;
}
.recent-activity-comment em {
  display:block;
}
.recent-activity-comment em a {
  color:#fff;
  text-decoration:none;
  text-decoration:italics;
}

table.table-form-style tbody {
 border:none;
}

