

/**
 * Conference menu block
 */

#block-conference_organizing-1  ul li {
 list-style:none;
 list-style-image:none;
 margin-bottom:10px;
 padding:0;
 display:block;
 border:none;
}
#block-conference_organizing-1 ul li a {
 padding-left:20px;
 padding-bottom: 7px;
}

#block-conference_organizing-1 ul li a.conference-admin-edit {
  background:url(../images/pencil-icon.png) no-repeat;
}
#block-conference_organizing-1 ul li a.conference-admin-session {
  background:url(../images/document-new.png) no-repeat;
}
#block-conference_organizing-1 ul li a.conference-admin-discussion{
  background:url(../images/discussion.png) no-repeat;
}
#block-conference_organizing-1 ul li a.conference-admin-attendees {
  background:url(../images/manage-icon.png) no-repeat;
}
#block-conference_organizing-1 ul li a.conference-admin-email {
  background:url(../images/mail-icon.png) no-repeat;
}
#block-conference_organizing-1 ul li a.conference-admin-conference {
  background:url(../images/conference-icon.png) no-repeat;
}

/**
 * Attendees block
 */
#block-conference_organizing-4 .conference-attendee-name a {
  display:block;
}

#block-conference_organizing-4 ul li .view-data-node-data-field-first-name-field-first-name-value,
#block-conference_organizing-4 ul li .view-data-node-data-field-last-name-field-last-name-value {
  display:inline;
  margin-right:.4em;
}

/**
 *  Conference members Block
 */
#block-conference_organizing-4  .content {
  padding-right:.5em;
}
#block-conference_organizing-4  .attendee {
  clear:both;
}
#block-conference_organizing-4  .attendee .picture {
  float:left;
  padding-right:1em;
  padding-bottom:1.4em;
}


